body, footer{
  margin: 0;
  font-family: source sans pro;
  overflow-x: hidden;
  background-image: url(2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#header, #description, #foto,  #plus, #container{
  cursor: move;
}
#screen{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  height:100%;
}

#container{
  width: 320px;
  height: 480px;
  box-shadow: 20px 40px 30px rgba(0,0,0,.05);
  margin-top: 50px;
  display:flex;
  flex-direction:column;
  margin-left: 1pc;
  margin-right: 2pc;
  background-color:rgba(255,255,255,.09);
  z-index: 1;
}
#header{
  background-color:rgba(255,255,255,.2);
  width: 100%;
  height: 50px;
  box-shadow:0px 8px 10px rgba(0,0,0,0.2);
  z-index:1
}
#header h2{
  width: 80%;
  color: white;
  font-size: 16px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  font-weight: 300;
}
#foto{
  width: 100%;
  height: 340px;
  background-image:url('kata.jpg');
  background-size:cover;
  background-position:center;
  opacity: 1;
}
#foto:hover, #name img:hover{
  filter: brightness(1.2);
  transition: .9s all ease-in-out
}
.icon-heart{
  color: #fa67b7;
}
#description{
  color: white;
  height:100px;
  box-shadow:0px -10px 8px rgba(0,0,0,0.2);
  z-index: 1
}
#description h2, .icon-map-marker, p{
  width: 80%;
  margin: auto;
  
}
#description h2{
  font-size: 30px;
  font-weight: 100;
  padding: 10px;
}
#description span{
  font-weight: 100;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
}
#description span:hover, .icon-map-marker:hover{
  color: white;
  transition: .3s all ease;
}
.icon-map-marker{
  color: #fff;
  position: relative;
  margin-left: 33px
}
#plus{
  border-radius: 80px;
  border: 0;
  height: 50px;
  width: 50px;
  background-color:rgba(255,255,255,0.09);
  color: white;
  margin-top: -125px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  margin-right: 10px;
  position: relative;
  z-index: 2;
  margin-left: 260px;
  outline:none;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}


.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .3s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


#infs{
   width: 320px;
  height: 490px;
  background-color:rgba(255,255,255,0.06);
  box-shadow: 40px 40px 50px rgba(0,0,0,0.2);
  margin-top: 50px;
  display:flex;
  flex-direction:column;
  position: relative;
  transition: .3s;
  transform: scale(0);
  z-index: 1
}
#header a{
  float: right;
  padding: 1pc;
  color: white;
  text-decoration: none;
  font-weight: 100;
  line-height: 1
}
#name{
  height: 100px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-top:1%;
  width:100%;
}
#name img{
  width: 70px;
  opacity: .9;
}

#name div{
  width: 100%;
  line-height: .3;
  position: relative;
  top: -80px;
  left: 5pc;
  
}
#name h2, span{
  font-weight: 100;
  padding-left: 10px;
  color: white;
}
#name span{
  color: #ddd !important;
}
#table{
  height: 150px;
}
#table ul#title{
  background-color:rgba(255,255,255,0.09);
  list-style: none;
  width:70%;
  margin:auto;
  position:relative;
  top:-15%
}
#table #title li{
  display: inline;
  color: #eee;
  padding-left: 0px;
  font-size: 14px;
  font-weight: 400;
}
#table #title li+li:before{
  content: ' | ';
  font-weight: 100;
  color: #eee;
}

#table #items{
  background-color:rgba(255,255,255,0.06);
  width: 76%;
  margin: auto;
  position: relative;
  top: -1.3pc;
  height: 90px;
  padding: 10px;
  box-shadow: 0 1px 8px rgba(0,0,0,.05);
}
#items li{
  list-style: none;
  padding: 6px;
  font-size: 15px;
  line-height: .8;
  font-weight: 100;
  color: #eee;
}
#items li:before{
  content: '\2611  ';
  color:rgba(255,255,255,0.6);
  font-weight: bold;
}
#items li:hover{
  color: white;
  transition: .3s all ease;
}
#contact{
  height: 150px;
  width: 80%;
  margin: auto;
  position: relative;
}
#contact i{
  font-size: 30px;
  color:rgba(255,255,255,0.7);
  vertical-align:top;
  margin-right: 5px;
  display: inline-block
}
#contact li{
  list-style: none;
  padding-left: 9px;
  font-size: 15px;
}
#contact .icon-phone:hover{
  animation: shake 0.8s infinite;
  color: white;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
#contact .icon-globe:hover{
    -webkit-animation: rotation .9s infinite linear;
  color: white;
}
#contact .icon-envelope:hover{
  color: white;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
#contact p{
  position: relative;
  top: -15px;
  left: .6pc;
  font-weight: 100;
  color: #eee;
}
#contact a{
  text-decoration: none;
  color: #fff;
}
#infs #icon{
  list-style:none;
  cursor: pointer;
}
#icon li:hover{
  transform: scale(1.22);
  transition: .1s;
}
#infs ul{
  width: 280px;
  margin: auto;
  margin-bottom: 10px;
  color: #999;
  font-size:15px
}
#icon li{
  display: inline-block
}
#infs ul i{
  cursor: pointer;
  color:rgba(255,255,255,0.6);
  margin-left:1pc;
}

#overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  display: none;
  z-index: 0
}
#map{
  position: fixed;
  background-color: rgba(0,0,0,1);
  width: 80%;
  height: 90%;
  text-align: center;
  margin-top: 2pc;
  transform: scale(0);
  transition: .3s all ease;
  z-index:3;
}
#map iframe{
  margin-top: -4pc;
  height: 90%
}
#map a{
  position:relative;
  border: 0;
  color: #ddd;
  font-size: 50px;
  cursor: pointer;
  font-weight: 100;
  text-decoration: none;
  float: right;
  top: -5pc;
  right: 1pc;
}
#map h2{
  position: relative;
  top: 0pc;
  font-weight: 100;
  color:white;
}
@media screen and (max-width:810px){
#screen{
  flex-direction: column;
  margin: 0pc;
  }  
  #infs{
    left: 5%
  }
  #tela{
    font-size:18px !important;
    width: 90%;
  }
  #tela small{
    font-size: 12px !important;
  }
  #map{
    width: 90%;
    margin-top: -20pc;
    height: 80%;
    left:4%;
  }
  #map iframe{
    margin-top: -0.3pc;
  }
  #map h2{
    top: -0pc;
    font-size: 15px
  }
  #map a{
    position: relative;top: -.5pc
  }
  }


footer{
  color: #aaa;
  position: relative;
  bottom: -8pc;
  width: 100%;
  z-index:-1;
}

#death{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color:#0F8CFD;
  display:flex;
  opacity: 0;
  z-index: -1
}
#death i{
  cursor: pointer;
  font-size: 30px;
  vertical-align: top;
  line-height: 2.2
}
#tela{
  color: white;
  font-size: 25px;
  margin: 3pc auto;
  
}

#tela h2{
  font-size: 80px;
  margin: 2pc;
  font-weight: 100;
}

#tela p{
  width: 100%;
  font-weight: 300 !important;
}


#tela small{
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 100
}
#tela h1{
  font-weight: 100;
  text-align: center;
  display: none;
}

#bio{
  position: fixed;
  background-color: rgba(28,35,52,.8);
  width: 60%;
  margin: auto;
  margin-top: 10%;
  height: 400px;
  padding: 30px;
  background-image: url('fold.jpg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 40px;
  transform: scale(0);
  transition: .2s all ease;
  z-index: 1;
  border-radius: 0 0 70px;
}
#bio a{
  text-decoration: none;
  color: #aaa;
  font-weight: 100;
  font-size: 25px;
  float: right;
}
#bio h2{
  margin: 0;
  font-weight: 400;
  text-align:center;
  color:white;
}

#bio h3{
  font-weight: 100;
  margin: 0px;
  text-align: center;
  font-size: 15px;
  color: white;
}
#bio p{
  font-weight: 100;
  width: 95%;
  color: white;
}

@media screen and (max-width:810px){
  #bio{
    width: 75%;
    margin: auto;
    top: 5pc;
    left: 1pc;
    height: 80%
  }
}
#cv a{
  position: absolute;
  z-index: 999;
  font-size: 30px;
  top: 3%;
  right: 24%;
  font-weight: 100;
  display: none;
}
#cv iframe{
  width: 100%;
  height: 100%;
  z-index: 0;
}

#cv{
  transform:scale(0);
  transition:.3s all ease;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

